.case_image {
  margin-top: -29px;
  background-image: url("../../images/case-study-shots/large-monitor.svg");
  background-position: center bottom;
  background-repeat: no-repeat;
  z-index: -1;
  height: 0;
  padding-top: 80%;
  background-size: 85%;

  img {
    display: block;
    margin: 0 auto;
    width: 78%;
    position: absolute;
    top: 16.1%;
    left: 50%;
    margin-left: -39%;
  }
}

.case--content-container {
  margin-bottom: 24px;
}

.case--comment-container-person {
  p {
    margin-bottom: 0 !important;
    text-align: right;
  }
}

.case--content-download {
  padding: 36px 0 36px 0;

  a {
    margin: 10px 30px 0 0;
  }
}

.case--comment-container .container {
  background-image: url("../../images/left-quotes/left-quotes.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;

  p {
    font-family: Raleway, sans-serif;
    font-weight: 400;
  }
}

@media (min-width: 700px) {
  .case_image {
    background-size: auto;
    height: 540px;
    padding-top: 1px;

    img {
      width: 534px;
      top: 80px;
      margin-left: -267px;
    }
  }

  .case--content-container {
    margin-bottom: 36px;
  }

  .case--content-download {
    padding: 60px 0 60px 0;

    a {
        margin-top: 0;
    }
  }

  .case--comment-container {
    p {
        margin-bottom: 42px;
    }
  }
}