code, pre {
  font-family: monospace;
  font-size: 1.1rem;
  direction: ltr;
  text-align: left;
  overflow: auto;
  padding: 0 3px 2px;
  hyphens: none;
  tab-size: 4;
}

code {
  background-color: $neutral-gray;
  padding: 2px 4px;
  white-space: nowrap;
}

pre {
  background-color: $neutral-gray;
  line-height: 1.6;
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  margin: 0 0 1.5rem 0;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;

  code {
    color: inherit;
    background-color: transparent;
    border: 0;
    padding: 0;
    white-space: pre;
    white-space: pre-wrap;
  }
}

@media (min-width: 700px) {

  code, pre {
    font-size: 1.4rem;
  }
}
