.contact--main-title {
  p {
    margin-bottom: 0;
    font-weight: 300;

    &:nth-child(3) {
      margin-bottom: 36px;
    }
  }
}

.contact--professionals {
  p {
    margin-bottom: 24px;
  }

  h1 {
    margin-top: 18px;
  }
}

.contact--professionals-details {
  margin-bottom: 24px;
}

.social {
  li {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 5px;
    font-size: 0.85rem;
  }
}

@media (min-width: 700px) {
  .contact--main-title {
    p {
      &:nth-child(3) {
        margin-bottom: 60px;
      }
    }
  }

  .contact--professionals {
    p {
      margin-bottom: 36px;
    }

    h1 {
      margin-top: 30px;
    }
  }

  .contact--professionals-details {
    margin-bottom: 60px;
  }

  .professionals-potrait {
    display: inline-block;
    width: 30.1078%;
    vertical-align: top;
  }

  .professionals-info {
    display: inline-block;
    width: 63.4414%;
    vertical-align: top;
    margin-left: 3.2258%;

    p {
      margin-bottom: 24px !important;

      &:nth-child(3) {
        margin-bottom: 30px !important;
      }
    }

    h2 {
      margin-bottom: 6px !important;
    }
  }

  .social {
    li {
      display: inline-block;
      margin-right: 15px;
      margin-bottom: 5px;
      font-size: 1rem;
    }
  }
}

@media (max-width: 370px) {
  .contact--professionals-details {
    img {
      width: 100%;
    }
  }
}

#experts {
  &:target {
    background-color: $yellow-tint;
  }
}