footer {
  font-weight: 300;
}

.split-container {
  vertical-align: top;

  button {
    margin: 36px 0 60px 0;
  }

  p {
    word-break: break-all;
    margin-bottom: 0;
  }

  h2 {
    font-weight: 300;
  }
}

.footer--logo {
  height: 80px;
  background: url('../../images/footer-logo.svg') center no-repeat;
  margin: 57px 0 32px 0;
}

@media (min-width: 700px) {
  .split-container {
    display: inline-block;
    width: 48%;
  }

  .left-container {
    margin-right: 1.6129%;
  }

  .right-container {
    margin-left: 1.6129%;
  }
}
