.footer--global {
  background-color: $dark-gray;
  background-image: linear-gradient(to top, $dark-gray, $light-gray);
  color: $lightest;
  padding-top: 3.75rem;
  padding-bottom: 1px; // janky margin-negating hack
  -webkit-font-smoothing: antialiased;
  position: relative;
  z-index: 1;

  &:before {
    content: "";
    display: inline-block;
    height: 1.875rem;
    position: absolute;
    z-index: 1;
    left: 0; right: 0;
    top: 0;
    @include top-left($lightest-gray);
    -webkit-filter: drop-shadow( rgba($darkest, 0.5) 0 10px 20px );
            filter: drop-shadow( rgba($darkest, 0.5) 0 10px 20px );
  }

  a {
    border-bottom-color: rgba($lightest, 0.2) !important;
    line-height: 1.8;
  }

  li {
    list-style-type: none;
    margin-left: 0;
  }
}

.split-container {
  vertical-align: top;

  button {
    margin-bottom: 18px;
  }

  p {
    word-break: break-all;
    margin-bottom: 0.375rem;
  }

  h2 {
    font-weight: 300;
    margin-bottom: 0.5rem;
  }
}

.footer--logo {
  height: 80px;
  background: url('../../images/logos/footer-logo.svg') center no-repeat;
  margin: 57px 0 32px 0;
}

.map {
  width: 100%;
  border: 0;

  a {
      border: none;

      &:hover {
        border: none;
        background-color: transparent;
      }

      img {
        width: 100%;
      }
  }
}

@media (min-width: 700px) {
  .footer--global {
    padding-top: 7.5rem;
    &:before {
      height: 3.75rem;
    }
  }

  .split-container {
    display: inline-block;
    width: 48%;

    button {
      margin-bottom: 60px;
    }
  }

  .left-container {
    margin-right: 1.6129%;
  }

  .right-container {
    margin-left: 1.6129%;
  }
}
