.main--navigation-logo {
  display: block;
  vertical-align: top;
  cursor: pointer;
  width: 100%;
  margin: 0 auto;
  text-align: center;

  img {
    max-width: 250px;
  }

  a {
    border: none;
    &:hover {
      background-color: transparent;
      color: none;
    }
  }
}

.navigation {
  display: inline-block;
  margin: 1.5rem 0 1.5rem 0;
  width: 100%;
  text-align: center;
  font: 1.2rem Raleway, sans-serif;


  a {
    margin: 0 0.9375rem 0 0.9375rem;
    border-bottom-color: rgba($middle-gray, 0.2);

    &:hover {
      border-bottom-color: #fff;
      background-color: inherit;
      color: inherit;
    }
  }

  button {
    margin: 24px auto;
    display: block;
    width: 70%
  }
}

.page--title {
  font-weight: 300;

  h2 {
    margin-bottom: 24px;
  }
}

.header--image {
  width: 100%;

  img {
    width: 100%;
  }
}

@media (min-width: 700px) {
  .main--navigation-logo {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  width: 30%;
  margin: 0 auto;
  text-align: left;
  }

  .navigation {
    display: inline-block;
    margin: 0;

    a {
      border-bottom-color: rgba($middle-gray, 0.4);
    }

    button {
      display: inline-block;
      margin-left: 1.6129%;
      width: auto;
    }
  }

  .navigation-wide {
    width: 69%;
    text-align: right;
  }

  .page--title {
    margin-top: 3.75rem;

    h2 {
      margin-bottom: 60px;
    }
  }
}

@media (max-width: 400px) {
  .navigation {
    font-size: 0.84rem;
  }
}
