.main--navigation-logo {
  display: block;
  vertical-align: top;
  cursor: pointer;
  width: 60%;
  margin: 0 auto;

  img {
    width: 100%;
  }

  a {
    border: none;
    &:hover {
      background-color: transparent;
      color: none;
    }
  }
}

.navigation {
  display: inline-block;
  margin: 24px 0 24px 0;
  width: 100%;
  text-align: center;


  a {
    margin-right: 5%;
    border-bottom-color: rgba($middle-gray, 0.4);

    &:first-child{
      margin-left: 5%;
    }

    &:hover {
      border-bottom-color: #fff;
      background-color: inherit;
      color: inherit;
    }
  }

  button {
    margin: 24px auto;
    display: block;
    width: 70%
  }
}

.page--title {
  font-weight: 300;

  h2 {
    margin-bottom: 24px;
  }
}

.header--image {
  width: 100%;

  img {
    width: 100%;
  }
}

@media (min-width: 700px) {
  .main--navigation-logo {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  width: 40%;
  margin: 0 auto;
  }

  .navigation {
    display: inline-block;
    margin: 0;

    a {
      margin-right: 1.6129%;
      border-bottom-color: rgba($middle-gray, 0.4);

      &:first-child{
        margin-left: 1.6129%;
      }
    }

    button {
      display: inline-block;
      margin-left: 1.6129%;
      width: auto;
    }
  }

  .navigation-wide {
    width: 58%;
    text-align: right;
  }

  .page--title {
    h2 {
      margin-bottom: 60px;
    }
  }
}
