header {
  padding-bottom: 0.875rem;
  margin-bottom: 0.875rem;

  .container {
    padding: 1.875rem 0.9375rem 0 0.9375rem;
  }
}

.main--navigation-logo {
  display: block;
  height: 0;
  line-height: 0;
  width: 100%;
  max-width: 250px;
  padding-bottom: 20%;
  margin: 0 auto;
  border: none;
  background: url(../images/logos/logo.svg) center center no-repeat;
  background-size: contain;
  text-indent: -9999px;
  overflow: hidden;

  &:hover {
    background-color: transparent !important;
  }
}

.current {
  border-bottom-color: $white !important;
}

.navigation {
  display: inline-block;
  margin: 1.5rem 0 1.5rem 0;
  width: 100%;
  text-align: center;
  font-family: Raleway, sans-serif;
  font-size: 0.84rem;

  a {
    margin: 0 0.9375rem 0 0.9375rem;
    border-bottom-color: rgba($middle-gray, 0.2);

    &:hover {
      border-bottom-color: $white;
      background-color: inherit;
      color: inherit;
    }
  }

  .button {
    margin: 24px auto 0 auto;
    display: block;
    width: 70%
  }
}

.page--title {
  margin-top: 1.875rem;
  font-weight: 300;
  margin-bottom: 3rem;

  h2 {
    margin-bottom: 24px;
  }

  .major {
    max-width: none;
  }
}

.header--image {
  width: 100%;
  position: relative;
  z-index: 2;
  margin-bottom: -5.5rem;

  img {
    width: 100%;
    display: block;
  }

  .lede + & {
    margin-top: 3rem;
  }
}

@media (min-width: 400px) {
  .navigation {
    font-size: 1.2rem;
  }
}

@media (min-width: 770px) {

  .main--navigation-logo {
    display: inline-block;
    width: 30%;
    margin: 0;
    padding-bottom: 10%;
    text-align: left;
  }

  .navigation {
    display: block;
    width: 69%;
    margin: 1% 0 0 0;
    float: right;
    text-align: right;

    .button {
      display: inline-block;
      margin: 0 0 0 1.6129%;
      width: auto;
    }
  }

  .page--title {
    margin-top: 3.75rem;

    h2 {
      margin-bottom: 60px;
    }
  }
}

@media (max-width: 400px) {
  .navigation {
    a {
        font-size: 1.1rem;
        margin: 0 0.5375rem 0 0.5375rem;
    }
  }
}
