button {
  margin-bottom: 40px;
}

.services-margin-top {
  margin-top: 18px;
}

.clients--container {
  margin: 12px 0 18px 0;
  text-align: center;
}

.clients--container {
  li {
    display: block;
      width: 50%;
      height: 80px;
      color: transparent;
      margin-bottom: 12px !important;
      margin: 0 auto;
  }
}

.clients-section {
  p {
    margin-top: 6px;
  }

  a {
    margin-bottom: 36px;
  }
}

.services-list {
  article {
    margin-top: 36px;
  }
}

@media (min-width: 700px) {
  button {
    margin-bottom: 60px;
  }

  .services-margin-top {
    margin-top: 60px;
  }

  .clients--container {
    width: 100%;
    margin: 15px 0 60px 0;

    li {
      display: inline-block;
      width: 30.12%;
      height: 80px;
      color: transparent;
      margin-bottom: 0;
    }
  }

  .clients-section {
    p {
      margin-top: 30px;
    }

    a {
      margin-bottom: 30px;
    }
  }

  .services-list {
    article {
      margin-top: 60px;
    }
  }
}

@media (min-width: 900px) {
  .clients--container-block {
    width: 26.882%;
  }
}

#innovationWomen {
  background: url("../../images/client-logos/innovation-women-logo@2x.png") center no-repeat;
  background-size: contain;
  margin-bottom: 30px;
}

#velir {
  background: url("../../images/client-logos/velir-logo@2x.png") center no-repeat;
  background-size: contain;
  margin-bottom: 30px;
}

#resilientCoders {
  background: url("../../images/client-logos/resilient-coders-logo@2x.png") center no-repeat;
  background-size: contain;
  margin-bottom: 30px;
}

#snapx {
  background: url("../../images/client-logos/safety-net-access-logo@2x.png") center no-repeat;
  background-size: contain;
}

#cityAwake {
  background: url("../../images/client-logos/city-awake-logo@2x.png") center no-repeat;
  background-size: contain;
}

