button {
  margin-bottom: 40px;
}

h1 {
  margin-top: 18px;
}

.services-margin-top {
  margin-top: 18px;
}

.clients--container {
  margin: 0 0 18px 0;
  text-align: center;
}

.clients--container-block {
  display: block;
  margin-top: 12px;
}

@media (min-width: 700px) {
  button {
    margin-bottom: 60px;
  }

  h1 {
    margin-top: 30px;
  }

  .services-margin-top {
    margin-top: 60px;
  }

  .clients--container {
    width: 100%;
    margin: 15px 0 60px 0;
  }

  .clients--container-block {
    display: inline-block;
    margin: 30px 15px 0 15px;
  }
}

@media (min-width: 900px) {
  .clients--container-block {
    width: 26.882%;
  }
}

