.button {
  margin-bottom: 40px;
}

.who-we-are {
  position: relative;
  z-index: 3;
}

.clients--container {
  margin: 12px 0 18px 0;
  text-align: center;

  li {
    display: block;
    width: 50%;
    min-width: 250px;
    height: 0;
    padding-bottom: 45%;
    margin-bottom: 12px !important;
    margin: 0 auto;
    text-indent: -9999px;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
  }
}

#innovationWomen { background-image: url("../../images/client-logos/innovation-women-logo.png"); }
#velir {           background-image: url("../../images/client-logos/velir-logo.png"); }
#resilientCoders { background-image: url("../../images/client-logos/resilient-coders-logo.png"); }
#snapx {           background-image: url("../../images/client-logos/safety-net-access-logo.png"); }
#cityAwake {       background-image: url("../../images/client-logos/city-awake-logo.png"); }

.clients-section {
  p {
    margin-top: 6px;
  }

  .button {
    margin-bottom: 36px;
  }
}

.services-list {
  article {
    &:first-child {
      margin-top: 36px;
    }
  }
}

@media (min-width: 500px) {
  .clients--container {
    li {
      padding-bottom: 30%;
    }
  }
}

@media (min-width: 600px) {
  .clients--container {
    width: 100%;
    margin: 15px 0 60px 0;

    li {
      display: inline-block;
      margin-right: 1.4%;
      width: 30.12%;
      padding-bottom: 21%;
    }
  }
}

@media (min-width: 700px) {
  .button {
    margin-bottom: 60px;
  }

  .clients-section {
    p {
      margin-top: 30px;
    }

    .button {
      margin-bottom: 30px;
    }
  }

  .services-list {
    article {
      &:first-child {
        margin-top: 60px;
      }
    }
  }
}