.services--container {
  width: 100%;
  display: inline-block;
  font-weight: 300;

  h2 {
    margin-bottom: 6px;
    font-weight: 300;
  }

  p {
    margin-bottom: 24px !important;
  }

  .services--container-info {
    display: block;
  }

  .services--container-image {
    display: block;
    margin-bottom: 6px;
    text-align: center;
    padding: 12px 0;

    img {
      max-width: 100%;
      vertical-align: middle;
    }
  }
}

.service-info {
  padding-top: 18px;

  &:first-child {
    margin-top: -5%;
    z-index: -1;
  }

  &:target {
    background-color: $yellow-tint;
  }

  p {
    margin-bottom: 36px !important;
  }
}

.subservice-container {
  margin-bottom: 30px;
  display: block;
  h2 {
    margin-bottom: 6px !important;
    text-align: left;
  }

  p {
    margin-bottom: 18px !important;
    text-align: left;
  }

  img {
    width: 100%;
  }
}

.align-subservice {
  text-align: center;
}


@media (min-width: 700px) {
  .services--container {
    p {
      margin-bottom: 30px !important;
    }
  }

  .services--container-info {
    width: 50%;
  }

  .services--container-image {
    width: 46.7746%;
    margin-bottom: 0;
  }

  .left {
    float: left;
  }

  .right {
    float: right;
  }

  .service-info {
    padding-top: 30px;

    &:first-child {
      margin-top: -2%;
    }

    p {
      margin-bottom: 60px !important;
    }
  }

  .subservice-container {
    display: inline-block;
    width: 44.7746%;
    margin-right: 4%;
    vertical-align: top;

    p {
      margin-bottom: 0 !important;
    }
  }
}

@media (min-width: 500px) and (max-width: 700px) {
  .services--container-image {
    img {
      max-width: 70% !important;
    }
  }
}
