.services--container {
  width: 100%;
  display: inline-block;
  font-weight: 300;

  h2 {
    margin-bottom: 6px;
    font-weight: 300;
  }

  p {
    margin-bottom: 24px !important;
  }

  .services--container-info {
    display: block;
  }

  .services--container-image {
    display: block;
    margin-bottom: 6px;
    text-align: center;
    padding: 12px 0;

    img {
      max-width: 100%;
      vertical-align: middle;
    }
  }
}

.service-info {
  padding-top: 18px;

  p {
    margin-bottom: 36px !important;
  }
}

.subservice-container {
  margin-bottom: 30px;
  display: block;

  h2 {
    margin-bottom: 6px !important;
    text-align: left;
  }

  p {
    margin-bottom: 18px !important;
    text-align: left;
  }
}

.services-main-image-container {
  text-align: center;
}

.subservice-image-container {
  text-align: center;

  img {
    width: 50%;
  }
}

.faq-container {
  h2 {
    margin-bottom: 6px !important;
  }
}


@media (min-width: 700px) {
  .services--container {
    width: 100%;
    p {
      margin-bottom: 30px !important;
    }
  }

  .services--container-info {
    width: 100%;
  }

  .services--container-image {
    width: 30.1078%;
    margin: 40px 0 0 1.6129%;
  }

  .left {
    float: left;
  }

  .right {
    float: right;
  }

  .service-info {
    padding-top: 30px;

    &:first-child {
      margin-top: -2%;
    }

    p {
      margin-bottom: 60px !important;
    }
  }

  .subservice-container {
    display: inline-block;
    width: 44.7746%;
    margin-right: 4%;
    vertical-align: top;

    p {
      margin-bottom: 0 !important;
      display: inline-block;
      width: 65%;
    }
  }

  .services-main-image {
    width: 30%;
    margin-right: 3.3%;
  }

  .subservice-image-container {
    display: inline-block;
    width: 30%;
    margin-right: 3.3%;
    vertical-align: top;

    img {
      width: 100%;
    }
  }
}

@media (min-width: 500px) and (max-width: 700px) {
  .services--container-image {
    img {
      max-width: 70% !important;
    }
  }

  .subservice-image-container {
    img {
      width: 40%;
    }
  }
}
