.services--container {
  width: 100%;
  display: inline-block;
  font-weight: 300;

  h2 {
    margin-bottom: 6px;
    font-weight: 300;
  }

  .services--container-info {
    display: block;
  }

  .services--container-image {
    display: block;
    margin-bottom: 6px;
    text-align: center;
    padding: 12px 0;

    img {
      max-width: 100%;
      vertical-align: middle;
    }
  }
}

.process-graph-container {
  margin-bottom: 1.875rem;
}

.services-main-image-container {
  text-align: center;
}

@media (min-width: 700px) {
  .services--container {
    width: 100%;
  }

  .services--container-info {
    width: 100%;
  }

  .services--container-image {
    width: 30.1078%;
    margin: 40px 0 0 1.6129%;
  }

  .left {
    float: left;
  }

  .right {
    float: right;
  }

  .services-main-image {
    width: 30%;
    margin-right: 3.3%;
  }
}

@media (min-width: 500px) and (max-width: 700px) {
  .services--container-image {
    img {
      max-width: 70% !important;
    }
  }
}