.table {
  border-collapse: collapse;
  border-spacing: 0;
  border-color: #1C2522;
  width: 100%;
  max-width: 100%;
  color: #1C2522;
  background-color: #fff;
  font-size: 1rem;
  line-height: 1.6;
  margin: 0 0 1.5rem 0; // 24px
}

.table th {
  text-align: left;
  font-size: 1.125rem;
  padding: 10px 5px;
  border-style: solid;
  border-width: 0px;
  overflow: hidden;
  word-break: normal;
  border-color: #1C2522;
  background-color: #F7D200;
  border-top-width: 1px;
  border-bottom-width: 1px;
}

.table td {
  padding: 10px;
  border-style: solid;
  border-width: 0px;
  overflow: hidden;
  word-break: normal;
  border-color: #F2F2F2;
  border-top-width: 1px;
  border-bottom-width: 1px;
}

.table--text td {
  vertical-align: top;
}

.table-row-label {
  font-weight: bold;
}
