.button {
  color: $white;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  line-height: 36px;
  height: 36px;
  padding: 0 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: none;
  text-decoration: none;
}

.button-major {
  @extends .button;
  font-size: 20px;
  background-color: $green;
  border-color: $green;
  box-shadow: $green-shade;
}

.button-default {
  @extends .button;
  font-size: 16px;
  background-color: $dark-gray;
  border-color: $dark-gray;
  box-shadow: $darkest-gray 0 4px 0;
}

.button-default-reverse {
  @extends .button;
  font-size: 16px;
  background-color: $green;
  border-color: $green;
  box-shadow: $green-shade 0 4px 0;
}

@media (min-width: 600px) {
  .button {
    line-height: 48px;
    height: 48px;
  }

  .button-major {
    font-size: 24px;
  }

  .button-default {
    font-size: 20px;
  }

  .button-default-reverse {
    font-size: 20px
  }
}
