.button {
  color: $white !important;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  display: inline-block;
  line-height: 36px;
  padding: 0 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: none;
  text-decoration: none;
  transition: all 0.1s linear;

  &:hover, &:focus {
    transform: translate3d(0, -2px, 0);
  }

  &:active {
    transform: translate3d(0, 2px, 0);
  }
}

.button-major {
  @extends .button;
  font-size: 20px;
  background-color: $green;
  border-color: $green;
  box-shadow: $green-shade;

  &:hover, &:focus {
    box-shadow: $green-shade 0 6px 0 !important;
    background-color: $green-tint !important;
  }

  &:active {
    box-shadow: $green-shade 0 2px 0 !important;
    background-color: $green !important;
  }
}

.button-default {
  @extends .button;
  font-size: 16px;
  background-color: $dark-gray;
  border-color: $dark-gray;
  box-shadow: $darkest-gray 0 4px 0;

  &:hover, &:focus {
    box-shadow: $darkest-gray 0 6px 0 !important;
    background-color: $middle-gray !important;
  }

  &:active {
    box-shadow: $dark-gray 0 2px 0 !important;
    background-color: $darker-gray !important;
  }
}

.button-default-reverse {
  @extends .button;
  font-size: 16px;
  background-color: $green;
  border-color: $green;
  box-shadow: $green-shade 0 4px 0;

  &:hover, &:focus {
    box-shadow: $green-shade 0 6px 0 !important;
    background-color: $green-tint !important;
  }

  &:active {
    box-shadow: $green-shade 0 2px 0 !important;
    background-color: $green !important;
  }
}

@media (min-width: 600px) {
  .button {
    line-height: 48px;
  }

  .button-major {
    font-size: 24px;
  }

  .button-default {
    font-size: 20px;
  }

  .button-default-reverse {
    font-size: 20px
  }
}
