.icon {
  display: inline-block;
  vertical-align: top;
  height: 26px;
  width: 26px;
  margin-right: 5px;
  position: relative;
  top: 6px;
}

@media (max-width: 700px) {
  .icon {
    top: 2px;
  }
}

.icon--monitor {
  background: url('../../images/icons/icons-white.svg') no-repeat -1px 0px;
}

.icon--phone {
  background: url('../../images/icons/icons-white.svg') no-repeat -2px -35px;
}

.icon--facebook {
  background: url('../../images/icons/icons-white.svg') no-repeat -1px -72px;
}

.icon--linkedin {
  background: url('../../images/icons/icons-white.svg') no-repeat -1px -180px;
}

.icon--twitter {
  background: url('../../images/icons/icons-white.svg') no-repeat -1px -108px;
}

.icon--github {
  background: url('../../images/icons/icons-white.svg') no-repeat 0px -143px;
}

.icon--spotlight {
  background: url('../../images/icons/icons-white.svg') no-repeat -1px -215px;
}

.icon--monitor-black {
  background: url('../../images/icons/icons-black.svg') no-repeat -1px 0px;
}

.icon--phone-black {
  background: url('../../images/icons/icons-black.svg') no-repeat -2px -35px;
}

.icon--facebook-black {
  background: url('../../images/icons/icons-black.svg') no-repeat -1px -72px;
}

.icon--linkedin-black {
  background: url('../../images/icons/icons-black.svg') no-repeat -1px -180px;
}

.icon--twitter-black {
  background: url('../../images/icons/icons-black.svg') no-repeat -1px -108px;
}

.icon--github-black {
  background: url('../../images/icons/icons-black.svg') no-repeat 0px -143px;
}

.icon--spotlight-black {
  background: url('../../images/icons/icons-black.svg') no-repeat -1px -215px;
}