.icon {
  display: inline-block;
  vertical-align: top;
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.icon--monitor {
  background: url('../../images/icons/monitor.svg') center no-repeat;
  background-size: contain;
}

.icon--phone {
  background: url('../../images/icons/phone.svg') center no-repeat;
  background-size: contain;
}

.icon--facebook {
  background: url('../../images/icons/facebook.svg') center no-repeat;
  background-size: contain;
}

.icon--twitter {
  background: url('../../images/icons/twitter.svg') center no-repeat;
  background-size: contain;
}

.icon--github {
  background: url('../../images/icons/github.svg') center no-repeat;
  background-size: contain;
}

.icon--monitor-black {
  background: url('../../images/icons/monitor-black.svg') center no-repeat;
  background-size: contain;
}

.icon--phone-black {
  background: url('../../images/icons/phone-black.svg') center no-repeat;
  background-size: contain;
}

.icon--facebook-black {
  background: url('../../images/icons/facebook-black.svg') center no-repeat;
  background-size: contain;
}

.icon--twitter-black {
  background: url('../../images/icons/twitter-black.png') center no-repeat;
  background-size: contain;
}

.icon--github-black {
  background: url('../../images/icons/github-black.png') center no-repeat;
  background-size: contain;
}
