.icon {
  display: inline-block;
  vertical-align: top;
  height: 30px;
  width: 30px;
  margin-right: 5px;
}

.icon--monitor {
  background: url('../../images/icons/icons-white.svg') no-repeat -1px 0;
}

.icon--phone {
  background: url('../../images/icons/icons-white.svg') no-repeat -1px -35px;
}

.icon--facebook {
  background: url('../../images/icons/icons-white.svg') no-repeat -1px -72px;
}

.icon--linkedin {
  background: url('../../images/icons/icons-white.svg') no-repeat -1px -180px;
}

.icon--twitter {
  background: url('../../images/icons/icons-white.svg') no-repeat 0 -109px;
}

.icon--github {
  background: url('../../images/icons/icons-white.svg') no-repeat 0 -143px;
}

.icon--spotlight {
  background: url('../../images/icons/icons-white.svg') no-repeat 0 -212px;
}

.icon--monitor-black {
  background: url('../../images/icons/icons-black.svg') no-repeat -1px 0;
}

.icon--phone-black {
  background: url('../../images/icons/icons-black.svg') no-repeat -1px -35px;
}

.icon--facebook-black {
  background: url('../../images/icons/icons-black.svg') no-repeat -1px -72px;
}

.icon--linkedin-black {
  background: url('../../images/icons/icons-black.svg') no-repeat -1px -180px;
}

.icon--twitter-black {
  background: url('../../images/icons/icons-black.svg') no-repeat 0 -109px;
}

.icon--github-black {
  background: url('../../images/icons/icons-black.svg') no-repeat 0 -143px;
}

.icon--spotlight-black {
  background: url('../../images/icons/icons-black.svg') no-repeat 0 -212px;
}