@mixin top-left($color) {
  &:before {
    top: -30px;
    background-image:
      url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 31" preserveAspectRatio="none" fill="#{$color}"><polygon points="0,0 100,30 100,31 0,31 "/></svg>');
  }
}

@mixin top-right($color) {
  &:before {
    top: -30px;
    background-image:
      url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 31" preserveAspectRatio="none" fill="#{$color}"><polygon points="0,30 100,0 100,31 0,31 "/></svg>');
  }
}

@mixin bottom-left($color) {
  &:after {
    bottom: -30px;
    background-image:
      url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 31" preserveAspectRatio="none" fill="#{$color}"><polygon points="0,0 100,0 100,1 0,31 "/></svg>');
  }
}

@mixin bottom-right($color) {
  &:after {
    bottom: -30px;
    background-image:
      url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 31" preserveAspectRatio="none" fill="#{$color}"><polygon points="0,0 100,0 100,31 0,1 "/></svg>');
  }
}

@mixin before {
  &:before {
    content: "";
    display: block;
    height: 31px;
    position: absolute;
    left: 0; right: 0;
  }
}

@mixin after {
  &:after {
    content: "";
    display: block;
    height: 31px;
    position: absolute;
    left: 0; right: 0;
  }
}