//Colors
$blue:              #5C4DF9;
$blue-tint:         #7569FF; // lighter
$blue-shade:        #4031E0; // darker
$light-blue:        #DFEEFF;

$dark-gray:         #1C2B33;
$middle-gray:       #36434A;
$light-gray:        #434F56;
$lightest-gray:     #F0F6F7;
$neutral-gray:      #F3F3F3;
$lightest:          #FFFFFF;
