//Colors
$green:             #00B968;
$green-tint:        #5BD19C; // lighter
$green-shade:       #1C9D3B; // darker
$yellow:            #F7D200;
$yellow-tint:       #FBE87F; // lighter
$yellow-shade:      #EB950C; // darker

$darkest-gray:      #1C2522;
$darker-gray:       #313D3A;
$dark-gray:         #3D4945;
$middle-gray:       #979D9B;
$middle-gray-light: #C4C7C6;
$light-gray:        #DADCDB;
$lighter-gray:      #E6E7E7;
$lightest-gray:     #F2F2F2;
$white:             #FFF;
