<footer class="footer--global" role="contentinfo" id="contentinfo">
  <section>
    <div class="container">
      <div class="split-in-two">
        <h2 class="text-heading-two">Let’s connect</h2>
        <ul>
          <li><span class="icon icon--email-lightest"></span><a href="mailto:hello@eastcoastproduct.com">hello@eastcoastproduct.com</a></li>
          <li><span class="icon icon--phone-lightest"></span><a href="tel:+18667777459">(866)777-7459</a></li>
          <li><span class="icon icon--facebook-lightest"></span><a href="http://facebook.com/eastcoastproduct" target="_blank">Facebook</a></li>
          <li><span class="icon icon--twitter-lightest"></span><a href="https://twitter.com/ECPBoston" target="_blank">Twitter</a></li>
          <li><span class="icon icon--linkedin-lightest"></span><a href="http://linkedin.com/company/eastcoastproduct" target="_blank">LinkedIn</a></li>
          <li><span class="icon icon--github-lightest"></span><a href="https://github.com/EastCoastProduct" target="_blank">Github</a></li>
        </ul>
        <a href="/contact#experts" class="button--default">Talk to an expert</a>
      </div>
      <div class="split-in-two">
        <h2 class="text-heading-two">Find us IRL</h2>
        <a href="https://www.google.com/maps/place/51+Melcher+St,+Boston,+MA+02210/" class="map">
          <img src="/images/maps/map-boston.png" alt="City of Boston map" />
        </a>
        <p>51 Melcher St<br>
        Boston, MA 02210</p>
      </div>
    </div>
  </section>
  <div class="footer--logo"></div>
</footer>
<% include analytics %>
