<footer class="dark-background angle-edge top-right-dark">
  <div class="container">
    <div class="split-container left-container">
      <h2>Let’s talk</h2>
      <p>
        <span class="icon icon--monitor"></span>
        <a href="mailto:hello@eastcoastproduct.com">
          hello@eastcoastproduct.com
        </a>
      </p>
      <p class="margin--bottom-paragraph">
        <span class="icon icon--phone"></span><a href="tel:+18667777459"> (866)777-7459</a>
      </p>
      <a href="<%- level %>contact#experts" class="button button-default-reverse button-margin-large">Talk to an expert</a>
    </div>
    <div class="split-container right-container">
      <h2>Find us online</h2>
      <p>
        <span class="icon icon--facebook"></span><a href="https://www.facebook.com/ecpio" target="_blank">Facebook.com/ECPio</a>
      </p>
      <p>
        <span class="icon icon--twitter"></span><a href="https://twitter.com/ECPBoston" target="_blank">Twitter.com/ECPBoston</a>
      </p>
      <p class="margin--bottom-paragraph">
        <span class="icon icon--github"></span><a href="https://github.com/EastCoastProduct" target="_blank">Github.com/EastCoastProduct</a>
      </p>
    </div>
    <h2>Find us IRL</h2>
    <div class="split-container left-container margin--bottom-60_narrow">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d737.1724874102055!2d-71.0504697!3d42.3491333!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e37a7fd91a79e3%3A0xcd8cefbf58725cf!2s51+Melcher+St%2C+Boston%2C+MA+02210%2C+USA!5e0!3m2!1sen!2shr!4v1467044468197" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
      <p class="margin--bottom-paragraph">51 Melcher St<br>
        Boston, MA 02210</p>
    </div>
    <div class="split-container right-container margin--bottom-paragraph-mobile">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2893.412362426731!2d16.473706416138803!3d43.51459297912636!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13355e39fd8c4791%3A0xce7e5e471f917427!2sKrbavska+ul.+29%2C+21000%2C+Split!5e0!3m2!1sen!2shr!4v1467044613043" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
      <p>Krbavska ulica 29<br>
        21000 Split, Croatia</p>
    </div>
    <div class="footer--logo"></div>
  </div>
</footer>
<% include includes %>
