<footer class="dark-background angle-edge top-right-dark">
  <div class="container">
    <div class="split-container left-container">
      <h2>Let’s talk</h2>
      <p>
        <span class="icon icon--monitor"></span>
        <a class="email reverse-email" onclick="location.href='mailto:' + 'hello' + '@' + 'eastcoastproduct.com';">
          moc.tcudorptsaoctsae@olleh
        </a>
      </p>
      <p class="margin--bottom-paragraph">
        <span class="icon icon--phone"></span><a href="tel:+18667777459"> (866)777-7459</a>
      </p>
      <a href="<%- level %>contact#experts" class="button button-default-reverse button-margin-large">Talk to an expert</a>
    </div>
    <div class="split-container right-container">
      <h2>Find us online</h2>
      <p>
        <span class="icon icon--facebook"></span><a href="https://www.facebook.com/ecpio" target="_blank">Facebook.com/ECPio</a>
      </p>
      <p>
        <span class="icon icon--twitter"></span><a href="https://twitter.com/ECPBoston" target="_blank">Twitter.com/ECPBoston</a>
      </p>
      <p class="margin--bottom-paragraph">
        <span class="icon icon--github"></span><a href="https://github.com/EastCoastProduct" target="_blank">Github.com/EastCoastProduct</a>
      </p>
    </div>
    <h2>Find us IRL</h2>
    <div class="split-container left-container margin--bottom-60_narrow">
      <div class="map">
        <a href="https://www.google.com/maps/place/51+Melcher+St,+Boston,+MA+02210/@42.3492404,-71.0522346,17z/data=!3m1!4b1!4m5!3m4!1s0x89e37a7fd91a79e3:0xcd8cefbf58725cf!8m2!3d42.3492404!4d-71.0500459" target="_blank">
          <img src="<%= level %>images/maps/map-boston.png" alt="City of Boston map" />
        </a>
      </div>
      <p class="margin--bottom-paragraph">51 Melcher St<br>
        Boston, MA 02210</p>
    </div>
    <div class="split-container right-container margin--bottom-paragraph-mobile">
      <div class="map">
        <a href="https://www.google.com/maps/place/Krbavska+ul.+29,+21000,+Split,+Croatia/@43.514593,16.4737064,17z/data=!3m1!4b1!4m5!3m4!1s0x13355e39fd8c4791:0xce7e5e471f917427!8m2!3d43.514593!4d16.4758951" target="_blank">
            <img src="<%= level %>images/maps/map-split.png" alt="City of Split map" />
        </a>
      </div>
      <p>Krbavska ulica 29<br>
        21000 Split, Croatia</p>
    </div>
    <div class="footer--logo"></div>
  </div>
</footer>
<% include analytics %>