<footer class="container">
  <div>
    <h1>Say hello</h1>
    <p>Email:info@ecp.com</p>
    <p>Call: (866)777-7459</p>
    <button>Find an expert to speak with</button>
  </div>
  <div>
    <h1>Find us online</h1>
    <p>Facebook.com/ECPio</p>
    <p>Twitter.com/ECPBoston</p>
    <p>Github.com/EastCoastProduct</p>
  </div>
  <div>
    <h1>Find us IRL</h1>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d737.1724874102055!2d-71.0504697!3d42.3491333!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e37a7fd91a79e3%3A0xcd8cefbf58725cf!2s51+Melcher+St%2C+Boston%2C+MA+02210%2C+USA!5e0!3m2!1sen!2shr!4v1467044468197" width="450" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
    <p>51 Melchester St</p>
    <p>Boston, MA, 02210</p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2893.412362426731!2d16.473706416138803!3d43.51459297912636!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13355e39fd8c4791%3A0xce7e5e471f917427!2sKrbavska+ul.+29%2C+21000%2C+Split!5e0!3m2!1sen!2shr!4v1467044613043" width="450" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
    <p>Krbavska ulica 29</p>
    <p>Split, Croatia, 21000</p>
  </div>
  <div class="footer-logo">logo</div>
</footer>
