<header class="container dark-background">
  <div class="main--navigation-logo">
    <a href="#"><img src="../images/whiteLogo.png" width="20%" alt="ECP" /></a>
  </div>
  <nav class="navigation navigation-wide">
    <ul>
      <li><a href="#">Services</a></li>
      <li><a href="#">Work</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Blog</a></li>
      <li><button>Hire Us</button></li>
    </ul>
  </nav>
</header>
