<head>
  <meta charset="UTF-8" />
  <title><%= title %> | East Coast Product</title>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- sharing preview on social media stuff -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@ECPBoston">
    <meta name="twitter:url" property="og:url" content="https://eastcoastproduct.com/">
    <meta name="twitter:title" property="og:title" content="<%= title %> | East Coast Product">
    <meta name="twitter:description" property="og:description" content="We are a digital product firm that will help you get to your next strategic milestone faster.">
    <meta name="twitter:image" property="og:image" content="https://eastcoastproduct.com/images/logos/ecp-twitter-logo.png">
  <!-- end of sharing preview on social media stuff -->
  <!-- SEO stuff -->
    <meta name="description" content="We are a digital product firm that will help you get to your next strategic milestone faster.">
    <meta name="keywords"  content="design, user experience, user experience design, ux, ux design, product design, strategy, ux strategy, product strategy, development, product development, server-side development, client-side development, node, node js, javascript, react, react js" />
    <link rel="canonical" href="https://eastcoastproduct.com/" />
  <!-- end of SEO stuff -->
  <link rel="stylesheet" href="<%= level %>styles/main.min.css">
</head>
