<article class="services--container">
  <div class="services--container-image left">
    <img src="<%= collections.services[i].image %>" alt="picture" />
  </div>
  <div class="services--container-info right">
    <h2><%= collections.services[i].name %></h2>
    <p><%= collections.services[i].description %></p>
    <button class="button button-default">Learn more about
    <%= collections.services[i].name.toLowerCase() %></button>
  </div>
</article>
