<article class="services--container">
  <div class="services--container-image left">
    <img src="<%= collections.services[i].image %>"
      alt="collections.services[i].name" />
  </div>
  <div class="services--container-info right">
    <h2><%= collections.services[i].name %></h2>
    <p class="minor"><%= collections.services[i].description %></p>
  </div>
</article>
