<!doctype html>
<html lang="en">
  <% include partials/head %>
  <body>
    <% include partials/header %>
    <section class="fourohfour--main-title">
      <div class="container">
        <h1>Site Map</h1>
        <ul>
          <li><a href="/">Home</a></li>
          <li>
            <a href="/services">Services</a>
            <ul>
              <li><a href="/services/#web-and-mobile-development">Web &amp; Mobile Development</a></li>
              <li><a href="/services/#product-design">Product Design</a></li>
              <li><a href="/services/#mvp-definition-and-creation">MVP Definition &amp; Creation</a></li>
              <li><a href="/services/#staff-augmentation">Staff Augmentation</a></li>
            </ul>
          </li>
          <li>
            <a href="/work">Work</a>
            <ul>
              <li><a href="/case_study/innovation_women">Innovation Women Case Study</a></li>
              <li><a href="/case_study/vsnap">Vsnap</a></li>
            </ul>
          </li>
          <li><a href="/about">About</a></li>
          <li><a href="https://blog.eastcoastproduct.com">Blog</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
    </section>
    <% include partials/footer %>
  </body>
</html>
