<!doctype html>
<html lang="en">
  <% include partials/head %>
  <body class="area-blog">
    <% include partials/header %>
    <main role="main" id="main">

      <section id="posts">
        <div class="container">
          <div>
            <% collections.posts.forEach(function(post) { %>
            <a href="/blog/<%= post.id %>" class="post card">
              <h2 class="text-heading-two"><span class="link-surrogate"><%= post.pageHeading %></span></h2>
              <p>By <%- post.pageDescription %> | <%- post.pageDate %></p>
            </a>
            <% }) %>
          </div>
      </section>
    </main>
    <% include partials/footer %>
  </body>
</html>
