<!doctype html>
<html lang="en">
  <% include partials/head %>
  <body class="area-work">
    <% include partials/header %>
    <main role="main" id="main">
      <section id="contents">
        <div class="container">
          <div class="card targetable">
            <%- contents %>
          </div>
        </div>
      </section>
    </main>
    <% include partials/footer %>
    <% if(pageHeadingImageFormat == "desktop") { %>
    <!-- browser controls easter egg -->
    <script>
      var toBeRemoved = document.getElementById("to-be-removed");
      var closeBrowserButton = document.getElementById("close-browser-button");
      closeBrowserButton.onclick = function() {
        toBeRemoved.remove();
      };
    </script>
    <!-- end of browser controls easter egg -->
    <% } %>
    <% if(pageHeadingImageFormat == "mobile") { %>
    <!-- mobile device controls easter egg -->
    <script>
      var toBeBlanked = document.getElementById("to-be-blanked");
      var devicePowerButton = document.getElementById("device-power-button");
      toBeBlanked.style.opacity = '1';
      devicePowerButton.onclick = function() {
        if (toBeBlanked.style.opacity == '1') {
          toBeBlanked.style.opacity = '0';
        } else {
          toBeBlanked.style.opacity = '1';
        }
      };
    </script>
    <!-- end of mobile device controls easter egg -->
    <% } %>
  </body>
</html>
