<!doctype html>
<html lang="en">
  <% include partials/head %>
  <body>
    <% include partials/header %>
    <section>
      <div class="container">
        <h1>General inquiries</h1>
        <p>Send us an email: <a href="mailto: hello@eastcoastproduct.com"> hello@eastcoastproduct.com</a></p>
        <p>Give us a call: <a href="tel:+18667777459"> (866) 777-7459</p>
      </div>
    </section>
    <% include partials/footer %>
  </body>
</html>
