<!doctype html>
<html lang="en">
  <% include partials/head %>
  <body>
    <% include partials/header %>
    <section class="blue-background angle-edge top-left-blue
      bottom-left-blue first_container">
      <div class="container">
        <h1>Who we are</h1>
        <p class="margin--bottom-paragraph">We believe in small teams, working directly with you, focused on only
        your problems. We find solutions together.</p>
        <form action="<%- level %>about">
          <button class="button button-default">Meet the team</button>
        </form>
      </div>
    </section>
    <section>
      <div class="container">
        <h1>Our clients and partners</h1>
        <div class="clients--container">
          <div class="clients--container-block">
            <img src="./images/client-logos/innovation-women-logo.png" alt="Innovation Women">
          </div>
          <div class="clients--container-block">
            <img src="./images/client-logos/velir-logo.png" alt="Velir">
          </div>
          <div class="clients--container-block">
            <img src="./images/client-logos/resilient-coders-logo.png" alt="Resiliten Coders">
          </div>
          <div class="clients--container-block">
            <img src="./images/client-logos/safety-net-access-logo.png" alt="SNAPX">
          </div>
          <div class="clients--container-block">
            <img src="./images/client-logos/city-awake-logo.png" alt="City Awake">
          </div>
        </div>
        <div class="clients--container"></div>
        <p class="margin--bottom-paragraph">Our clients rock. We believe that you're the sum of the people you surround yourself with, and we've had the privilege to surround ourselves with some of the best.</p>
        <form action="<%- level %>work">
          <button class="button button-default">Hear their stories</button>
        </form>
      </div>
    </section>
    <section class="blue-background angle-edge
      top-left-blue bottom-left-blue">
      <div class="container">
        <h1>How we can help</h1>
        <p class="margin--bottom-paragraph">From entrepreneurs to enterprises, everyone is looking to build the best products. Our process is about short bursts of execution, so we can go from idea to product faster</p>
        <div class="services-margin-top">
        <% for(var i = 0; i < collections.services.length; i++) { %>
            <% if (i % 2 == 0){ %>
              <% include partials/service_left %>
            <% } else { %>
              <% include partials/service_right %>
            <% } %>
        <% } %>
        </div>
      </div>
    </section>
    <% include partials/footer %>
    <% include partials/includes %>
  </body>
</html>

