<!doctype html>
<html lang="en">
  <% include partials/head %>
  <body class="area-jobs">
    <% include partials/header %>
    <main role="main" id="main">
      <section id="contents">
        <div class="container">
          <%- contents %>
        </div>
      </section>
      <section id="apply">
        <div class="container">
          <div class="card targetable">
            <h2 class="text-heading-two">How To Apply</h2>
            <p>Please fill out the form below to apply.</p>

            <% if(jobType == "developer") { %>
            <!-- developer application -->
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScoDHjh7W8iwSvQ9Yy4hAlk5FlS2T1NQYjmltS2yQIEpbVHQg/viewform?embedded=true" width="100%" height="600px" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
            <% } else if(jobType == "designer") { %>
            <!-- designer application -->
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfXbaqX4NYI-APdNS_qxS2_CNIsSX5n-2Omg_4XomgjQu4voQ/viewform?embedded=true" width="100%" height="600px" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
            <% } else { %>
            <!-- general application -->
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfRDLqfuGUyc9felC4bBC680oCLJgCr7utXrPnzCMg4hx92bg/viewform?embedded=true" width="100%" height="600px" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
            <% } %>

          </div>
        </div>
      </section>
    </main>
    <% include partials/footer %>
  </body>
</html>
