<!doctype html>
<html lang="en">
  <% include partials/head %>
  <body class="area-jobs">
    <% include partials/header %>
    <main role="main" id="main">
      <section id="jobs">
        <div class="container">
          <div>
            <% collections.jobs.forEach(function(job) { %>
            <% if(job.published == true) { %>
            <a href="/jobs/<%= job.id %>" class="job card targetable" id="<%= job.id %>">
              <h2 class="text-heading-two"><span class="link-surrogate"><%= job.pageHeading %></span></h2>
              <p><%- job.pageDescription %></p>
            </a>
            <% } %>
            <% }) %>
          </div>
      </section>
    </main>
    <% include partials/footer %>
  </body>
</html>
