<!doctype html>
<html lang="en">
  <% include partials/head %>
  <body>
    <% include partials/header %>
    <section class="targetable" id="developer">
      <div class="container">
        <h1>JavaScript Developer</h1>
        <p>If you are interested in becoming part of a growing team of JavaScript experts, growing your career, and building innovative and modern web applications for clients around the world: consider joining our office in Split, Croatia!</p>
        <p>We are looking to bring on motivated, talented individuals who share our passion for learning and JavaScript. At East Coast Product, building a diverse team with a positive work culture has always been a top priority. Since our founding, we have fostered a stimulating and motivating work environment. With our sights set on employee satisfaction, we provide our team members with everything they will need grow their skills and expand their career.</p>
        <h2>Responsibilities</h2>
        <ul>
          <li>Develop new product features and new applications within an Agile environment.</li>
          <li>Build reusable code and libraries for future use.</li>
          <li>Write well designed, testable, efficient code by using the best software development practices.</li>
          <li>Cooperate with web designers to match visual design intent.</li>
          <li>Optimize applications for maximum speed and scalability.</li>
          <li>Stay up-to-date on emerging technologies.</li>
          <li>Strive to continuously improve the development process.</li>
        </ul>
        <h2>Skills and Qualifications</h2>
        <ul>
          <li>Strong proficiency in JavaScript.</li>
          <li>Understanding of front end technologies, such as HTML5 and CSS3.</li>
          <li>Understanding of the nature of asynchronous programming and its quirks and workarounds.</li>
          <li>Good understanding of modern front-end frameworks, experience with React is a plus.</li>
          <li>Proficient understanding of cross-browser compatibility issues and ways to work around such issues.</li>
          <li>Familiarity with Node.js a plus.</li>
          <li>Familiarity with build tools, such as Webpack and Gulp.</li>
          <li>Proficient understanding of code versioning tools, such as Git.</li>
        </ul>
        <h2>Benefits</h2>
        <ul>
          <li>Competitive salary commensurate on experience.</li>
          <li>Flexible work schedule.</li>
          <li>Unlimited vacation - We don’t track vacation, and as long as you get your job done you are free to take it when you need.</li>
          <li>Casual company culture that values performance and teamwork.</li>
          <li>Opportunities for international travel.</li>
        </ul>
        <h2>How To Apply</h2>
        <p>Please email our Human Resources Manager, <a href="mailto:monika@eastcoastproduct.com">Monika Souček</a>, if you’re interested in applying for the position.</p>
        <a href="mailto:monika@eastcoastproduct.com" class="button button-default-reverse" target="_blank">Email Monika</a>
      </div>
    </section>
    <section class="targetable" id="designer">
      <div class="container">
        <h1>Product Designer</h1>
        <p>We want to meet junior Product Designers in Boston, MA as we build our design team.</p>
        <p>The ideal candidate is still near the beginning of their career in design. They have a background in visual design or UX and some experience designing and building for the modern web. A fascination with the practices and processes of human-centered design are a must.</p>
        <p>We value curiosity, intelligence, and an incessant need to improve. Designers that ask a lot of questions, are willing to admit what they don’t know, and instinctively cringe at the phrase “that’s how we’ve always done it” are a perfect fit for us.</p>
        <p>As a member of our team, the work you’ll be doing ranges from small MVPs for budding entrepreneurs to complex applications for much larger clients. As an early hire you’ll play a critical role in shaping how our company learns to practice design as a discipline across these wildly different types of projects.</p>
        <p>As we grow we’ll be prioritizing individual learning. We’re creating a curriculum focused on advancing UX, behavioral design, visual design, and product management principles. We believe that mentoring is required for effective growth and will be running every project in a way that emphasizes learning directly from the Director of Product Design and your fellow designers, and returning the favor by sharing what you learn with them. Dedicate yourself to trying new things on every project and you’ll advance quickly here. If you work with us we’re going to show you how to be the best product designer you can be.</p>
        <h2>Skills and Qualifications</h2>
        <p>You’re a perfect candidate if you check off most of the boxes under two of our three primary skill areas. Experience in a third skill area or in the bonus skills will move you to the top of our list.</p>
        <h3>Primary Skills</h3>
        <p>User experience design principles, including:
          <ul>
            <li>User research</li>
            <li>Interviewing</li>
            <li>Information architecture</li>
            <li>Usability testing</li>
            <li>Prototyping</li>
            <li>Comfort explaining concepts through visual mediums (ie, whiteboarding, sketching and/or mockups)</li>
          </ul>
        </p>
        <p>The creation and use of behavioral design artifacts, including:
          <ul>
            <li>Personas</li>
            <li>Empathy maps</li>
            <li>Experience maps</li>
            <li>User stories/job stories</li>
            <li>Behavioral design principles</li>
          </ul>
        </p>
        <p>Visual design proficiency, including:
          <ul>
            <li>Typography</li>
            <li>Color theory</li>
            <li>Layout</li>
            <li>Designing systems (atomic design)</li>
            <li>Accessibility/universal design principles</li>
          </ul>
        </p>
        <h3>Bonus Skills</h3>
        <ul>
          <li>An understanding of HTML/CSS to facilitate communication with the development team.</li>
          <li>The ability to run a design sprint and/or other exercises designed to seek answers in uncertain situations.</li>
          <li>Experience with product management tools and workflows.</li>
          <li>User experience strategy and business principles.</li>
        </ul>
        <h2>Benefits</h2>
        <ul>
          <li>Competitive salary commensurate with experience.</li>
          <li>Flexible work schedule.</li>
          <li>Unlimited vacation - We don’t track vacation, and as long as you get your job done you are free to take it when you need.</li>
          <li>Casual company culture that values performance and teamwork.</li>
          <li>Opportunities for international travel.</li>
        </ul>
        <h2>How To Apply</h2>
        <p>Please email our Director of Product Design &amp; Strategy, <a href="mailto:steve@eastcoastproduct.com">Steve Hickey</a>, if you’re interested in applying for the position.</p>
        <a href="mailto:steve@eastcoastproduct.com" class="button button-default-reverse" target="_blank">Email Steve</a>
      </div>
    </section>
    <% include partials/footer %>
  </body>
</html>