<!doctype html>
<html lang="en">
  <% include partials/head %>
  <body>
    <% include partials/header %>
    <section class="container">
      <% collections.services.forEach(function(servi){ %>
        <article>
          <h2><%- servi.name %></h2>
          <p><%- servi.description %></p>
        </article>
      <% }) %>
    </section>
    <% include partials/footer %>
    <% include partials/includes %>
  </body>
</html>
