<!doctype html>
<html lang="en">
  <% include partials/head %>
  <body>
    <% include partials/header %>
    <section class="container dark-background">
      <h1>How we work</h1>
      <p>Our stuff are experts in process. We complement your existing
      team and help you get from idea to execution, faster.</p>
    </section>
    <section class="container">
      <% collections.services.forEach(function(servi){ %>
        <article>
          <h2><%- servi.name %></h2>
          <p><%- servi.description %></p>
        </article>
      <% }) %>
    </section>
    <% include partials/footer %>
    <% include partials/includes %>
  </body>
</html>
