<!doctype html>
<html lang="en">
  <% include partials/head %>
  <body>
    <% include partials/header %>
      <div class="services--list">
      <% collections.services.forEach(function(service) { %>
        <article class="services--container targetable" id="<%= service.id %>">
          <div class="container">
            <h1 class="text-heading-one"><%- service.title %></h1>
            <p><%- service.description %></p>
            <%- service.contents %>
          </div>
        </article>
      <% }) %>
      </div>
    <% include partials/footer %>
  </body>
</html>
