<!doctype html>
<html lang="en">
  <% include partials/head %>
  <body>
    <% include partials/header %>
      <div class="service-list">
      <% collections.services.forEach(function(service) { %>
        <section class="service-info targetable" id="<%= service.id %>">
          <div class="container">
            <h1><%- service.title %></h1>
            <p><%- service.description %></p>
            <%- service.contents %>
          </div>
        </section>
      <% }) %>
      </div>
    <% include partials/footer %>
  </body>
</html>
