<!doctype html>
<html lang="en">
  <% include partials/head %>
  <body>
    <% include partials/header %>
    <div class="container">
      <%- contents %>
    </div>
    <section class="contact--form yellow-tint-background angle-edge top-right bottom-left">
      <div class="container">
        <h1>Need <%- pageHeading %> expertise? Let's talk.</h1>
        <!--[if lte IE 8]>
        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
        <![endif]-->
        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
        <script>
          hbspt.forms.create({
            css: '',
            portalId: '502785',
            formId: '21c60590-9b4f-4f35-b1f3-c00332ec2449'
          });
        </script>
      </div>
    </section>
    <% include partials/footer %>
  </body>
</html>
