<!doctype html>
<html lang="en">
  <% include partials/head %>
  <body>
    <% include partials/header %>
    <section class="thank-you--main-title">
      <div class="container">
        <img src="https://media.giphy.com/media/kshykenTpNoA0/giphy.gif" alt="A delightful GIF of a ticklish kitten." />
      </div>
    </section>
    <% include partials/footer %>
  </body>
</html>
