<!doctype html>
<html lang="en">
  <% include partials/head %>
  <body class="area-thank-you">
    <% include partials/header %>
    <main>
      <section>
        <div class="container">
          <div class="card">
            <img src="https://media.giphy.com/media/kshykenTpNoA0/giphy.gif" alt="A delightful GIF of a ticklish kitten." />
          </div>
        </div>
      </section>
    </main>
    <% include partials/footer %>
  </body>
</html>
